.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: 2em;
}